name: Continious_Integration

on:
  push:
    branches: 
    - main

jobs:
  
  my-testing:
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest websockets numpy

      - name: Test with pytest
        run: |
          pytest lab1/second.py
          
      - name: Test with python
        run: |
          python lab1/first.py -v
